/****
Page styling
**/


.contentArea {
	background-color:#fff;
	height:100%;
	display:block;
	left:0;
	top:0;
	width:100%;
}

.content{
	background-color:#fff;
	height:auto;
	margin: 0 auto;
	overflow:auto;
	padding:30px;
	width:1200px; 
}

.otherContent{
	background-color:#fff;
	height:auto;
	margin: 0 auto;
	overflow:auto;
	padding:30px;
	width:900px; 
}

.subtitle {
	color:#fff;
	font-family: "Poiret One",cursive;
	font-size:1.3em;
	letter-spacing: 0.2em;
	margin:10px 0;
	text-align: center;
	text-transform: uppercase;
}


/*
Coding dashboard contents - recent awards section
*/
#smallBox {
	background-color:#fff;
	border:1px solid #8A96CC;
	float:left;
	width:250px;
}

#boxTitle1 {
	background-color: #9E637D;
	display:block;
	padding:10px 0;
	width:100%;
}

#boxTitle2 {
	background-color: #3E4040;
	display:block;
	padding:10px 0;
	width:100%;
}

#boxTitle3 {
	background-color: #474552;
	display:block;
	padding:10px 0;
	width:100%;
}

#sBContents {
	background-color:#fff;
	padding:5px 20px;
	width:210px;
}

#sBContents ul {
	list-style-type: none;
	padding:0;
}

#sBContents ul li{
	padding: 5px 0;
}

/*
Main content box
*/
#mainBox {
	background-color:#fff;
	border:1px solid #8A96CC;
	height:400px;
	margin-left:300px;
}

#otherMainBox {
	background-color:#fff;
	border:1px solid #8A96CC;
	height:400px;
	margin: 0 auto;
	width:100%;
}

/**
http://stackoverflow.com/questions/8395349/why-do-a-div-and-a-button-with-the-same-styles-render-at-different-sizes
Code form BoltClock's post about altering button sizing to be the same as divs
**/
#tbBtn {
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	background-color:#DFD7FF;
	box-sizing: content-box;
	border: 1px #000 solid;
	font-family: "Poiret One",cursive;
	font-size: 1.5em;
	margin: 0 auto;
	padding: 0;
	text-transform: uppercase;
	width:100%;
}

.nav {
	background-color:#4F587F;
	height:auto;
	padding:0.4em 0;
	width:100%;
}

.navLinks {
	margin:0 auto;
	padding:20px 0;
	width:1200px;
}

#titleLogo {
	color:#fff;
	float:left;
	font-family: "Poiret One",cursive;
	font-size:1.2em;
	padding: 0 4em;
}


#links {
	padding: 0 4em;
	text-align: right;
}

#list {
    height:337px;
	overflow:scroll;
}

/*
Table formatting
*/

#otherMainBox table{
	border-collapse: collapse;
	width:100%;
}

#otherMainBox table th{
	color:#565E7F;
	font-family: "Tahoma",sans-serif;
	font-size:1.1em;
	padding: 0.3em 0;
	text-transform: uppercase;
}

#otherMainBox table tr:first-child {
	border-bottom: 1px solid #000;
}

#otherMainBox table tr td{
	padding:0.2em 0;
	text-align: center;
}


/*
Style links in top navigation bar
*/


#links a {
	color:#CDD6FF;
	font-family: "verdana",sans-serif;
	padding:0 3em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

#blurb {
	font-family: "Tahoma",sans-serif;
	font-size: 0.8em;
	margin:10px 0;
	text-align:center;
}


#notif {
    background-color:#fff;
    border:1px #000 solid;
    display:none; /* initially hidden - only appears if necessary to alert user of something*/
    height: 300px;
    margin-left:-200px;
    left:50%;
    position:fixed;
    top:200px;
    width:400px;
    z-index:6; /*needs to appear in front of the filterMenu*/
}
/*
Styling for filter menu
*/

#filterMenu {
	background-color: #fff;
	border:1px #000 solid;
	display:none; /* initially hidden*/
	height:600px;
	margin-left:-300px;
	position:fixed;
	left:50%;
	top:50px;
	width:600px;
    z-index:5;
}

#filterForm {
	height:90%;
	padding:5%;
	width:90%;
}

#filterText {
	font-family:"Tahoma",sans-serif;
	font-size:0.9em;
}


/*
Styling for users and admin page buttons
*/

.subBtn {


}

/*
Styling for form pages
*/

#register {
	background-color:#fff;
	border: 1px #000 solid;
	color:#000;
	font-family: "Tahoma",sans-serif;
	font-size: 0.8em;
	margin:20px auto;
	padding:10px;
	text-align: center;
	width:400px;
}

#registerFields {
	border:1px #000 solid;
	display: block;
	height:25px;
	margin:0 auto;
	width:85%;
}

#registerButton {
	border:1px #000 solid;
	display: block;
	height:25px;
	margin:0 auto 10px;
	width:86%;
}
