/**
Styles that are common amongst all pages
**/

/*
Code help to reset CSS on browser
https://css-tricks.com/forums/topic/div-doesnt-reach-edge-of-browser-page/
Gets rid of margins and padding of the body
*/
html, body {
    background-color:#fff;
    margin:0;
    padding:0;
}

/*
Styling for title on page
*/
#title {
    font-family: "Poiret One",cursive;
    font-size:3em;
    text-align: center;
    text-transform: uppercase;
}

/*
Styling for the form
*/
.formFrame {
    background-color:#fff;
    border: 1px #000 solid;
    color:#000;
    font-family: "Tahoma",sans-serif;
    font-size: 0.8em;
    margin:20px auto;
    padding:10px;
    text-align: center;
    width:400px;
}

.formFields {
    border:1px #000 solid;
    display: block;
    height:25px;
    margin:0 auto;
    width:85%;
}

.formButton {
    border:1px #000 solid;
    display: block;
    height:25px;
    margin:0 auto 10px;
    width:86%;
}

/*
 * Styles for dialog
 */

#resultTitle {
    color:#fff;
    font-family: "Poiret One",cursive;
    font-size:1.3em;
    letter-spacing: 0.2em;
    margin:10px 0;
    text-align: center;
    text-transform: uppercase;
}

#resTitle {
    background-color: #5D919E;
    display:block;
    padding:10px 0;
    width:100%;
}

#resultBox {
    background-color:#fff;
    border:1px #000 solid;
    display:none;
    height:auto;
    margin-left:-200px;
    left:50%;
    top:200px;
    position:fixed;
    width:400px;
    z-index:4;
}

#resultText {
    color:#000;
    font-family:"Tahoma",sans-serif;
    font-size:0.9em;
    height:100px;
    padding:20px 5%;
    text-align:center;
    width:90%;
    z-index:5;
}

#resBtn {
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    background-color:#D3CCF2;
    box-sizing:content-box;
    color:#45434F;
    font-family:"Poiret One",cursive;
    font-size:1.5em;
    margin: 20px auto 0;
    padding: 0;
    text-transform:uppercase;
    width:100%;

}

/*
Styling for edit account form pages
*/
#accountDetails {
    font-family: "Tahoma",sans-serif;
    font-size:1.1em;
    padding:5% 5% 0;
    overflow:scroll;
    width:90%;
}

#accountDetails b {
    color:#9E546B;
    font-family: "Poiret One",cursive;
    font-size:1.3em;
    text-transform: uppercase;
}

/* styling for bottom half of form */

#accountDetails1 {
    padding: 10px 5% 5%;
    width:90%;
}

.dynamic {
    margin-left: 0.5cm;
    color: black;
}

/**
 * Submit button for edit account pages
 **/ 
.submitBtn1 {
    background-color: #9E546B;
    color:#fff;
    font-size:1.2em;
    margin: 0 auto;
    text-transform:uppercase;
    width:100%;
}