<!DOCTYPE html>
<!-- About the Team Page -->
<html>
	<head>
		<link rel="stylesheet" href="../static/css?file=shared.css">
		<link rel="stylesheet" href="../static/css?file=styles.css">
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<title>The Team</title>
	</head>
	<body>
		<div class="contentBox">
			<div class="nav">
				<div class="navLinks">
					<div id="titleLogo">
						Employee Awards
					</div>
					<a href="index.html">Home</a>
					<a href="about.html">About</a>
					<a href="signUp.html">Register</a>
				</div>
			</div>
			<div class="contents">
				<!-- About the team section -->
				<div id="title">About the Team</div>
				<div id="aboutBox">
					<div class="member">
						<img src="img/tempimg.png">
						<div class="bio">
							<div id="subtitle">Andrew Johnson</div>
							Andrew is a 2016 OSU Computer Science graduate. He resides in Minnesota with his wife Bethany, and two children, Liam and Oliver. Prior to 
							attending OSU Andrew was a Minnesota Attorney.</div>
					</div>
					<div class="member">
						<img src="img/IMAGE_0181.jpg">
						<div class="bio">
                            <div id="subtitle">Patrick Burrell</div>
                             Patrick is a 2016 OSU Computer Science graduate. He lives in Portland with his girlfriend and two dogs and just started a new position as a software engineer.</div>
					</div>
					<div class="member">
						<img src="img/tempimg.png">
						<div class="bio">
                            <div id="subtitle">Tiffany Chiou</div>
                            Tiffany is an OSU student graduating in 2016. She decided to join the OSU program after graduating initially with a Biochemistry/Chemistry degree from UCSD. Upon completing the OSU program, she will begin a fulltime Software Engineer position at IBM.</div>
					</div>
				</div>
			</div>
		</div>
		<div>
		</div>
	</body>

</html>
