<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../static/css/styles.css">
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="contentBox">
			<div class="nav">
				<div class="navLinks">
					<div id="titleLogo">
						Employee Awards
					</div>
					<a href="index.html">Home</a>
					<a href="about.html">About</a>
					<a href="signUp.html">Register</a>
				</div>
			</div>
			<div class="contents">
				<div id="title">About the Team</div>
				<div id="aboutBox">
					<div class="member">
						<img src="img/tempimg.png">
						<div class="bio">
							<div id="subtitle">Tiffany Chiou</div>
							Tiffany is an OSU student graduating in 2016. Tiffany is an OSU student graduating in 2016. Tiffany is an OSU student graduating in 2016. Tiffany is an OSU student graduating in 2016.</div>
					</div>
					<div class="member">
						<img src="img/tempimg.png">
						<div class="bio">Tiffany is an OSU student graduating in 2016. Tiffany is an OSU student graduating in 2016. Tiffany is an OSU student graduating in 2016. Tiffany is an OSU student graduating in 2016.</div>
					</div>
					<div class="member">
						<img src="img/tempimg.png">
						<div class="bio">Tiffany is an OSU student graduating in 2016. Tiffany is an OSU student graduating in 2016. Tiffany is an OSU student graduating in 2016. Tiffany is an OSU student graduating in 2016.</div>
					</div>
				</div>
			</div>
		</div>
		<div>
		</div>
	</body>

</html>