<!DOCTYPE html>
<!--Account Details Page-->
<html>
	<head>
		<link rel="stylesheet" href="../static/css?file=shared.css">
		<link rel="stylesheet" href="../static/css?file=loggedinstyles.css">
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<script src="./static/script?file=accountInfo.js" type="application/javascript"> </script>
        <title>My Account</title>
    </head>
	<body>
		<div class="contentArea">
			<div class="nav">
				<div class="navLinks">
					<div id="titleLogo">
						Employee Awards
					</div>
					<div id="links">
						<a href="dashboard.html">Create Award</a>
						<a href="existing.html">My Awards</a>
						<a href="account.html">Account</a>
						<a href="logout.html">Logout</a>
					</div>
				</div>
			</div>
			<div class="otherContent">
				<div id="otherMainBox">
					<div id="boxTitle4">
						<div class="subtitle">My Account</div>
					</div>
					<div id="accountDetails">
						<b>Name:<span id="accountName" class="dynamic"></span></b><br><br>
						<b>E-Mail:<span id="accountEmail" class="dynamic"></span></b><br><br>
						<b>Date Joined:<span id="accountDate" class="dynamic"></span></b><br><br>
						<b>No. Awards Created:<span id="accountAwards" class="dynamic"></span></b><br><br>
					</div>
					<form action="/editAccountInfo.html" method="post">
                        <div id="accountDetails1">
                        <input type="submit" class="submitBtn1" value="Edit Name" id="editBtn">
                        </div>
                    </form>
				</div>
			</div>
			<div class="errorMsg" id="result"></div>
		</div>
		<div>
		</div>
	</body>

</html>
