<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../static/css?file=loggedinstyles.css">
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="contentArea">
			<div class="nav">
				<div class="navLinks">
					<div id="titleLogo">
						Employee Awards
					</div>
					<div id="links">
						<a href="dashboard.html">Create Award</a>
						<a href="existing.html">My Awards</a>
						<a href="account.html">Account</a>
						<a href="logout.html">Logout</a>
					</div>
				</div>
			</div>
			<div class="otherContent">
				<div id="otherMainBox">
					<div id="boxTitle4">
						<div class="subtitle">My Account</div>
					</div>
					<div id="accountDetails">
						<b>Name:</b> Jane Doe<br><br>
						<b>E-Mail:</b> Janedoe@emailgoeshere.com<br><br>
						<b>Date Joined:</b> Jan 1, 2016<br><br>
						<b>No. Awards Created:</b> 5<br><br>
					</div>
				</div>
			</div>
		</div>
		<div>
		</div>
	</body>

</html>
