<!DOCTYPE html>
<!-- Page displays list of admins -->
<html>
	<head>
		<link rel="stylesheet" href="../static/css?file=shared.css">
		<link rel="stylesheet" href="../static/css?file=adminstyles.css">
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<script src="./static/script?file=alert.js" type="application/javascript"> </script>
		<script src="./static/script?file=adminsInfo.js" type="application/javascript"> </script>
	</head>
	<body>
		<div class="contentArea">
			<div class="nav">
				<div class="navLinks">
					<div id="titleLogo">
						Employee Awards
					</div>
					<div id="links">
						<a href="admin_dashboard.html">Reports</a>
						<a href="users.html">Users</a>
						<a href="admins.html">Admins</a>
						<a href="logout.html">Logout</a>
					</div>
				</div>
			</div>
			<div class="otherContent">
				<form id="adminEditAccountsForm">
				<div id="otherMainBox">
					<!-- Displays list of admins; lets users modify different entries -->
					<div id="boxTitle1">
						<div class="subtitle">Admin Accounts</div>
					</div>
					<div id="list">
						<table id="adminsTable">
							<tr>
								<th>Delete<th>Edit<th>Email<th>Joined</th>
						</table>
					</div>
				</div>
					<input type="submit" class="subBtn" value="Delete Selected Admins" id="deleteAdminsBtn">
					<input type="button" class="subBtn" value="Edit Selected Admin" id="editAdminBtn" onclick="window.location.href='adminEditAdminAccount.html';">
				</form>
				<form id="createAdminBtn" action="/createAdmin.html" method="post">
					<input type="submit" class="subBtn" value="Create Admin Account">
				</form>
			</div>
		</div>
		<div>
			<!--<div id="deleteResult" class="errorMsg" style="text-align: center"></div>-->
		</div>
		<!--Popup dialog that will display sign up success or failure-->
        <div id="resultBox">
            <div id="resTitle"><div id="resultTitle"></div></div>
            <div id="resultText">
                <div id="resultInfo"></div>
                <button id="resBtn" onclick="dialogDeSpawn('resultBox')">Okay</button>
            </div>
        </div> 
	</body>

</html>