<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../static/css?file=adminstyles.css">
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<script src="./static/script?file=adminsInfo.js" type="application/javascript"> </script>
	</head>
	<body>
		<div class="contentArea">
			<div class="nav">
				<div class="navLinks">
					<div id="titleLogo">
						Employee Awards
					</div>
					<div id="links">
						<a href="admin_dashboard.html">Reports</a>
						<a href="users.html">Users</a>
						<a href="admins.html">Admins</a>
						<a href="logout.html">Logout</a>
					</div>
				</div>
			</div>
			<div class="otherContent">
				<form id="adminEditAccountsForm">
				<div id="otherMainBox">
					<div id="boxTitle1">
						<div class="subtitle">Admin Accounts</div>
					</div>
					<div id="list">
						<table id="adminsTable">
							<tr>
								<th>Delete<th>Edit<th>Email<th>Joined</th>
						</table>
					</div>
				</div>
				<div style="text-align: center">
					<input type="submit" value="Delete Selected Admins" id="deleteAdminsBtn">
					<input type="button" value="Edit Selected Admin" id="editAdminBtn" onclick="window.location.href='adminEditAdminAccount.html';">
				</div>
				</form>
				<form id="createAdminBtn" action="/createAdmin.html" method="post">
				<div style="text-align: center">
					<input type="submit" value="Create Admin Account">
				</div>
				</form>
			</div>
		</div>
		<div>
			<div id="deleteResult" class="errorMsg"></div>
		</div>
	</body>

</html>