<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../static/css?file=adminstyles.css">
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <script src="../static/script?file=alert.js" type="application/javascript"> </script>
		<script src="../static/script?file=popUp.js" type="application/javascript"> </script>
<!--        <script src="../static/script?file=filterData.js" type="application/javascript"></script>
-->    </head>
	<body>
		<div class="contentArea">
			<div class="nav">
				<div class="navLinks">
					<div id="titleLogo">
						Employee Awards
					</div>
					<div id="links">
						<a href="admin_dashboard.html">Reports</a>
						<a href="users.html">Users</a>
						<a href="admins.html">Admins</a>
						<a href="logout.html">Logout</a>
					</div>
				</div>
			</div>
			<div class="otherContent">
                <div id="blurb" style="font-size:1.2em;">To see data, please select at least 1 field in the Filter Options</div>
                <div id="otherMainBox">
					<div id="boxTitle2">
						<div class="subtitle">Data</div>
					</div>
                    <div id="list">
                        <table id="filterDataTable">
                            <!--Contents here will be dynamically generated-->
						</table>
					</div>
				</div>
				<button id="tbBtn" onclick="spawn('filterMenu')">Filter Options</button>
                <button id="tbBtn" onclick="exportCSV()">Export to CSV</button>
			</div>
		</div>
		<div>
		</div>
        <!-- notification will let users know about their possible errors -->
        <div id="notif">
            <div id="boxTitle1"><div class="subtitle" id="errTitle"></div></div>
            <div id="filterForm">
                <div id="filterText">
                </div> <br>
                <button type="button" id="tbBtn" onclick="dialogDeSpawn('notif')">Okay</button>
            </div>
        </div>    
        <!-- Below is the filter menu pop-up -->
		<div id="filterMenu">
			<div id="boxTitle3"><div class="subtitle">Filter Options</div></div>
			<div id="filterForm">
				<div id="filterText">Please fill out the options below to filter the data. Already filtered data may not be filtered a second time.</div>
				<form>
					<br>
					<div class="subtitle" style="text-align:left;color:#000">Fields to Display:</div>
                    <div id="filterText"><b>Please select at least one to see data</b></div>
                    <!-- Inputs will determine which table fields are displayed-->
					<input type="checkbox" class="fields" value="type"> <label id="filterText" name="fields">Award Type&nbsp;&nbsp;&nbsp;</label>
					<input type="checkbox" class="fields" value="awardee"> <span id="filterText" name="fields">Awardee Name&nbsp;&nbsp;&nbsp;</span>
					<input type="checkbox" class="fields" value="email"> <span id="filterText" name="fields">Awardee Email&nbsp;&nbsp;&nbsp;</span>
					<input type="checkbox" class="fields" value="dateAwarded"> <span id="filterText" name="fields">Date Awarded&nbsp;&nbsp;&nbsp;</span>					
                    <br><input type="checkbox" class="fields" value="userId"> <span id="filterText" name="fields">User ID&nbsp;&nbsp;&nbsp;</span>
                    <input type="checkbox" class="fields" value="userName"> <span id="filterText" name="fields">User (Full Name)</span>
                    <br><br>
					<div class="subtitle" style="text-align:left;color:#000">Filter By:</div>
                    <div id="filterText">Choose a filter type and enter a value to filter by</div>
					<!-- Filter option will determine which entries are displayed-->
					<select id="filters">
                        <option value="none" id="filterText">None</option>
                        <option value="type" id="filterText">Award Type</option>
						<option value="awardee" id="filterText">Awardee Name</option>
						<option value="email" id="filterText">Awardee Email</option>
                        <option value="userId" id="filterText">User (user id)</option>
						<option value="dateAwarded" id="filterText">Date Awarded</option>
					</select>
                        <input type="text" id="filterVal" name="filterVal">
                    <br><br><br>
                    <!--Clicking this will trigger the filterReq javascript function-->
                    <button type="button" onclick="filterReq()" id="tbBtn">Submit</button>
				</form>
				<br>
                <!--Clicking this will close the window-->
				<button id="tbBtn" onclick="deSpawn('filterMenu')">Close</button>
			</div>
		</div>
	</body>

</html>
