<!DOCTYPE html>
<!-- Form to edit admin account -->
<html>
	<head>
		<link rel="stylesheet" href="../static/css?file=shared.css">
		<link rel="stylesheet" href="../static/css?file=adminstyles.css">
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<script src="./static/script?file=adminEditAdminInfo.js" type="application/javascript"> </script>
	</head>
	<body>
		<div class="contentArea">
			<div class="nav">
				<div class="navLinks">
					<div id="titleLogo">
						Employee Awards
					</div>
					<div id="links">
						<a href="admin_dashboard.html">Reports</a>
						<a href="users.html">Users</a>
						<a href="admins.html">Admins</a>
						<a href="logout.html">Logout</a>
					</div>
				</div>
			</div>
			<div class="otherContent">
				<div id="otherMainBox">
					<div id="boxTitle4">
						<div class="subtitle">My Account</div>
					</div>
					<form>
					<div id="accountDetails">
						<b>Current Email:<span id="currentEmail" class="dynamic"></span></b><br><br>
						<b>New Email:<span id="newEmailSpan" class="dynamic"><input type="text" id="newEmail" name="newEmail"></span></b><br><br>
						<input type="submit" value="Apply" style="margin: 0 auto;" id="editBtn">
					</div>
					</form>
					<div style="text-align: center">	
					<form action="/admins.html">
						<input type="submit" value="Cancel">
					</form>
					</div>
				</div>
			</div>
			<div class="errorMsg" id="result"></div>
		</div>
		<div>
		</div>
	</body>

</html>
