<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../static/css?file=adminstyles.css">
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<script src="../static/script?file=popUp.js" type="application/javascript"> </script>
	</head>
	<body>
		<div class="contentArea">
			<div class="nav">
				<div class="navLinks">
					<div id="titleLogo">
						Employee Awards
					</div>
					<div id="links">
						<a href="admin_dashboard.html">Reports</a>
						<a href="users.html">Users</a>
						<a href="logout.html">Logout</a>
					</div>
				</div>
			</div>
			<div class="otherContent">
				<div id="otherMainBox">
					<div id="boxTitle2">
						<div class="subtitle">Data</div>
					</div>
					<div id="list">
						<table>
							<tr>
								<th>Delete<th>Admin?<th>Joined<th>Full Name<th>Email</th>
							<tr>
								<td><input type="radio">
								<td>No
								<td>7/8/16 9:00 AM
								<td>Jane Doe
								<td>janedoe@someemailprovider.com
								</td>
							<tr>
								<td><input type="radio">
								<td>No
								<td>7/8/16 9:00 AM
								<td>John Doe
								<td>johndoe@someemailprovider.com
								</td>
							</tr>
						</table>
					</div>
				</div>
				<button id="tbBtn" onclick="spawn()">Filter</button>
			</div>
		</div>
		<div>
		</div>
		<!-- Below is the filter menu pop-up -->
		<div id="filterMenu">
			<div id="boxTitle3"><div class="subtitle">Filter Options</div></div>
			<div id="filterForm">
				Please fill out the options below to filter the data.
				<form>
					Add form fields here
					<input id="tbBtn" type="submit">
				</form>
				<br>
				<button id="tbBtn" onclick="deSpawn()">Close</button>
			</div>
		</div>
	</body>

</html>