<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../static/css?file=loggedinstyles.css">
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="contentArea">
			<div class="nav">
				<div class="navLinks">
					<div id="titleLogo">
						Employee Awards
					</div>
					<div id="links">
						<a href="dashboard.html">Create Award</a>
						<a href="existing.html">My Awards</a>
						<a href="">Account</a>
						<a href="index.html">Logout</a>
					</div>
				</div>
			</div>
			<div class="content">
				<div id="smallBox">
					<div id="boxTitle1">
						<div class="subtitle">Recent Awards</div>
					</div>
					<div id="sBContents">
						<ul>
							<li>Award 1</li>
							<li>Award 2</li>
						</ul>
					</div>
				</div>
				<div id="mainBox">
					<div id="boxTitle2">
						<div class="subtitle">Create an Award</div>
					</div>
					testing
				</div>
			</div>
		</div>
		<div>
		<center>Coded by Tiffany Chiou for CS419, potential login page</center>
		</div>
	</body>

</html>