<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../static/css?file=loggedinstyles.css">
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <script src="./static/script?file=alert.js" type="application/javascript"></script>
		<script src="./static/script?file=dashboard.js" type="application/javascript"> </script>
		</head>
	<body>
		<div class="contentArea">
			<div class="nav">
				<div class="navLinks">
					<div id="titleLogo">
						Employee Awards
					</div>
					<div id="links">
						<a href="dashboard.html">Create Award</a>
						<a href="existing.html">My Awards</a>
						<a href="account.html">Account</a>
						<a href="logout.html">Logout</a>
					</div>
				</div>
			</div>
			<div class="content">
				<div id="smallBox">
					<div id="boxTitle1">
						<div class="subtitle">Recent Awards</div>
					</div>
					<div id="sBContents">
						<ul id="recentAwardsList">
						</ul>
					</div>
				</div>
				<div id="mainBox">
					<div id="boxTitle2">
						<div class="subtitle">Create an Award</div>
					</div>
					<div id="formBox">
						<form id="certForm">
							<label for="fullName">Employee Name:</label>
							<input type="text" id="fullName" name="fullName" class="formInput">
							<label for="email">Employee Email:</label>
							<input type="text" id="email" name="email" class="formInput">
							<label for="awardType">Award Type:</label>
							<select id="awardType" class="formInput" name="awardType">
								<option value="1">Employee of the Month</option>
								<option value="2">Employee of the Year</option>
								<option value="3">Peer Recognition</option>
								<option value="4">Excellence in Achievement</option>
							</select>
							<label for="dateAwarded">Date of Award:</label>
							<input type="datetime-local" id="dateAwarded" name="dateAwarded" class="formInput">
							<input type="submit" class="submitBtn" id="certSubmit">
						</form>
					</div>
				</div>
			</div>
		</div>
        <!--Popup dialog that will display success or failure-->
        <div id="resultBox">
            <div id="boxTitle3"><div class="subtitle" id="resultTitle"></div></div>
            <div id="resultText">
                <div id="resultInfo"></div>
                <button id="resBtn" onclick="dialogDeSpawn('resultBox')">Okay</button>
            </div>
        </div>    
	</body>

</html>
