<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../static/css?file=loggedinstyles.css">
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<script src="./static/script?file=editAccountInfo.js" type="application/javascript"> </script>
	</head>
	<body>
		<div class="contentArea">
			<div class="nav">
				<div class="navLinks">
					<div id="titleLogo">
						Employee Awards
					</div>
					<div id="links">
						<a href="dashboard.html">Create Award</a>
						<a href="existing.html">My Awards</a>
						<a href="account.html">Account</a>
						<a href="logout.html">Logout</a>
					</div>
				</div>
			</div>
			<div class="otherContent">
				<div id="otherMainBox">
					<div id="boxTitle4">
						<div class="subtitle">My Account</div>
					</div>
					<form action="/editAccount" method="POST">
					<div id="accountDetails">
						<b>Current Name:<span id="currentName" class="dynamic"></span></b><br><br>
						<b>New Name:<span id="newNameSpan" class="dynamic"><input type="text" id="newName" name="newName"></span></b><br><br>
						<input type="submit" value="Apply" style="margin: 0 auto;" id="editBtn">
					</div>
					</form>
					<div style="text-align: center">	
					<form action="/account.html">
						<input type="submit" value="Cancel">
					</form>
					</div>
				</div>
			</div>
			<div class="errorMsg" id="result"></div>
		</div>
		<div>
		</div>
	</body>

</html>
