<!DOCTYPE html>
<!-- Page that allows users to change their name -->
<html>
	<head>
		<link rel="stylesheet" href="/static/css?file=shared.css">
		<link rel="stylesheet" href="../static/css?file=loggedinstyles.css">
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<script src="./static/script?file=editAccountInfo.js" type="application/javascript"> </script>
	</head>
	<body>
		<div class="contentArea">
			<div class="nav">
				<div class="navLinks">
					<div id="titleLogo">
						Employee Awards
					</div>
					<div id="links">
						<a href="dashboard.html">Create Award</a>
						<a href="existing.html">My Awards</a>
						<a href="account.html">Account</a>
						<a href="logout.html">Logout</a>
					</div>
				</div>
			</div>
			<div class="otherContent">
				<div id="otherMainBox">
					<div id="boxTitle4">
						<div class="subtitle">My Account</div>
					</div>
					<form action="/editAccount" method="POST">
					<div id="accountDetails">
						<b>Current Name:<span id="currentName" class="dynamic"></span></b><br><br>
						<b>New Name:<span id="newNameSpan" class="dynamic"><input type="text" class="formInput" id="newName" name="newName"></span></b><br><br>
						<input type="submit" value="Apply" class="submitBtn1" id="editBtn">
					</div>
					</form>	
                    <form action="/account.html">
                        <div id="accountDetails1">
                            <input type="submit" value="Cancel" class="submitBtn1">
                        </div>
                    </form>
				</div>
			</div>
			<div class="errorMsg" id="result"></div>
		</div>
		<div>
		</div>
	</body>

</html>
