<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../static/css?file=loggedinstyles.css">
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="contentArea">
			<div class="nav">
				<div class="navLinks">
					<div id="titleLogo">
						Employee Awards
					</div>
					<div id="links">
						<a href="dashboard.html">Create Award</a>
						<a href="existing.html">My Awards</a>
						<a href="">Account</a>
						<a href="index.html">Logout</a>
					</div>
				</div>
			</div>
			<div class="otherContent">
				<div id="otherMainBox">
					<div id="boxTitle3">
						<div class="subtitle">My Awards</div>
					</div>
					<div id="list">
						<table>
							<tr>
								<th>Delete<th>Created<th>Award Recipient<th>File</th>
							<tr>
								<td><input type="radio">
								<td>7/8/16 9:00 AM
								<td>Jane Doe
								<td><a href="">File Download Link</a>
								</td>
							<tr>
								<td><input type="radio">
								<td>7/8/16 10:00 AM
								<td>John Doe
								<td><a href="">File Download Link</a>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div>
		</div>
	</body>

</html>