<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../static/css?file=loggedinstyles.css">
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<script src="./static/script?file=existingInfo.js" type="application/javascript"> </script>
	</head>
	<body>
		<div class="contentArea">
			<div class="nav">
				<div class="navLinks">
					<div id="titleLogo">
						Employee Awards
					</div>
					<div id="links">
						<a href="dashboard.html">Create Award</a>
						<a href="existing.html">My Awards</a>
						<a href="account.html">Account</a>
						<a href="logout.html">Logout</a>
					</div>
				</div>
			</div>
			<div class="otherContent">
				<div id="otherMainBox">
					<form action="../deleteAwards" method="post" id="awardForm">
					<div id="boxTitle3">
						<div class="subtitle">My Awards</div>
					</div>
					<div id="list">
						<table id="awardsTable">
							<tr>
								<th>Delete<th>Created<th>Award<th>Recipient</th>
						</table>
					</div>	
				</div>
				<div style="text-align: center">
				<input type="submit" value="Delete Selected Awards" class="deleteBtn" id="deleteBtn">
				</div>
				</form>
			</div>
		</div>
		<div id="deleteResult" class="errorMsg">

		</div>
	</body>

</html>
