<!DOCTYPE html>
<!-- Forget password page -->
<html>
	<head>
		<link rel="stylesheet" href="../static/css?file=shared.css">
		<link rel="stylesheet" href="../static/css?file=styles.css">
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<script src="./static/script?file=forget.js" type="application/javascript"> </script>

	</head>
	<body>
		<div class="contentBox">
			<div class="nav">
				<div class="navLinks">
					<div id="titleLogo">
						Employee Awards
					</div>
					<a href="index.html">Home</a>
					<a href="about.html">About</a>
					<a href="signUp.html">Register</a>
				</div>
			</div>
			<div class="contents">
				<div id="title">Forget your password?</div>
				<div class="formFrame">
					<div id="subtitle">Please enter your email</div>
					<form id="forgetForm">
						<input type="text" placeholder="Enter your email" id="fEmail" class="formFields">
						<input type="submit" id="forgetSubmitButton" class="formButton">
					</form>
					<!-- result div needs extra code to appear/disappear-->
					<div id="result"></div>
				</div>
			</div>
		</div>
		<div>
		</div>
	</body>

</html>