<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="/static/css?file=styles.css" >
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<script src="../static/script?file=checkLogin.js" type="application/javascript"> </script>
	</head>
	<body>
		<div class="contentArea">
			<div class="nav">
				<div class="navLinks">
					<div id="titleLogo">
						Employee Awards
					</div>
					<a href="index.html">Home</a>
					<a href="about.html">About</a>
					<a href="signUp.html">Register</a>
				</div>
			</div>
			<div class="content">
				<div id="title">Employee Awards</div>
				<div id="blurb">
					Showing your appreciation for your employees has never been easier.
					<br>Easily generate awards for your employees who have done tremendous work!
				</div>
				<div id="login">
					<div id="subtitle">Login</div>
					<form id="loginForm" method="POST">
						<input type="radio" name="accountType" value="user" required checked>As User <input type="radio" value="admin" name="accountType"> As Administrator
						<input type="email" placeholder="Enter your email" id="loginFields" name="email" required>
						<input type="password" placeholder="Enter your password" id="loginFields" name="password" required>
						<input type="submit" id="loginButton">
					</form>
					<a href="forget.html">Forget your password?</a>
				</div>
				<div class="errorMsg" id="loginResult"></div>
			</div>
		</div>
		<div>
		</div>
	</body>

</html>
