<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="/static/css?file=styles.css" >
		
	</head>
	<body>
		<div class="contentArea">
			<div class="nav">
				<div class="navLinks">
					<div id="titleLogo">
						Employee Awards
					</div>
					<a href="index.html">Home</a>
					<a href="about.html">About</a>
					<a href="signUp.html">Register</a>
				</div>
			</div>
			<div class="content">
				<div id="title">Employee Awards</div>
				<div id="blurb">
					Showing your appreciation for your employees has never been easier.
					<br>Easily generate awards for your employees who have done tremendous work!
				</div>
				<div id="login">
					<div id="subtitle">Login</div>
					<input type="radio">As User <input type="radio"> As Administrator
					<input type="text" placeholder="Enter your email" id="loginFields">
					<input type="password" placeholder="Enter your password" id="loginFields">
					<input type="submit" id="loginButton">
				</div>
			</div>
		</div>
		<div>
		</div>
	</body>

</html>