<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../static/css?file=styles.css">
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<script src="../static/script?file=signUp.js" type="application/javascript"> </script>
	</head>
	<body>
		<div class="contentBox">
			<div class="nav">
				<div class="navLinks">
					<div id="titleLogo">
						Employee Awards
					</div>
					<a href="index.html">Home</a>
					<a href="about.html">About</a>
					<a href="signUp.html">Register</a>
				</div>
			</div>
			<div class="contents">
				<div id="title">Register for an Account</div>
				<div id="login">
					<form id="createAccountForm">
					  <div id="subtitle">Please fill out all fields</div>
					  <input type="text" placeholder="Enter your first name" id="loginFields" name="firstName" required>
					  <input type="text" placeholder="Enter your last name" id="loginFields" name="lastName" required>
					  <input type="text" placeholder="Enter your email" id="loginFields" name="email" required>
					  <input type="password" placeholder="Enter your password" id="loginFields" name="password" required>
					  <p>Select an image file with your signature to upload</p>
					  <input type="file" name="signatureFile" accept="image/*" required>
					  <input type="submit" id="createAccountButton">
					</form>
				</div>
				<div class="errorMsg" id="registerResult"></div>
				<div align="center" style="padding-top:40px">Have an account? <a href="index.html">Log in</a></div>
			</div>
		</div>
		<div>
		<center>Coded by Tiffany Chiou for CS419, potential registration page</center>
		</div>
	</body>

</html>