<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../static/css/styles.css">
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="contentBox">
			<div class="nav">
				<div class="navLinks">
					<div id="titleLogo">
						Employee Awards
					</div>
					<a href="index.html">Home</a>
					<a href="about.html">About</a>
					<a href="signUp.html">Register</a>
				</div>
			</div>
			<div class="contents">
				<div id="title">Register for an Account</div>
				<div id="login">
					<div id="subtitle">Please fill out all fields</div>
					<input type="text" placeholder="Enter your first name" id="loginFields">
					<input type="text" placeholder="Enter your last name" id="loginFields">
					<input type="text" placeholder="Enter your email" id="loginFields">
					<input type="password" placeholder="Enter your password" id="loginFields">
					<input type="submit" id="loginButton">
				</div>
			</div>
		</div>
		<div>
		<center>Coded by Tiffany Chiou for CS419, potential registration page</center>
		</div>
	</body>

</html>